contact-section {
  padding: 50px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* CONTAINER */
.contact-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

/* LEFT INFO */
.contact-info {
  text-align: left;
  font-size: 16px;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 80px;
}

.contact-form button {
  background: #4dd0e1;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    text-align: center;
  }
}
