* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c7c1a5;
    font-family: Arial, sans-serif;
    color: #000;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px; 
}

nav a {
    text-decoration: none;
    color: #000;
    transition: opacity 0.3s ease;
}

nav a:hover {
    opacity: 0.7;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background: #efe9d2;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.box img {
    width: 100%;
    max-height: 250px; 
    object-fit: cover; 
    border-radius: 5px;
}
.box ul, .box p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 15px;
}

.box .recipe-note {
    font-size: 17px;
    font-weight: 500;
}


.section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 30px;
}

.text {
    width: 90%;
    text-align: center;
}

.text h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.text h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.text p {
    font-size: 17px;
    line-height: 1.8;
}

.section img {
    max-width: 300px; 
    border-radius: 8px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 12px 25px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
}

.join {
    background-color: #ff0000;
}

.contact-btn {
    background-color: #228b22;
}


contact-section {
  padding: 50px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* CONTAINER */
.contact-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

/* LEFT INFO */
.contact-info {
  text-align: left;
  font-size: 16px;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 80px;
}

.contact-form button {
  background: #4dd0e1;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    text-align: center;
  }
}
